@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model xdcb.Common.DanhMuc.DoUuTiens.CreateModalModel
@using xdcb.Common.DanhMuc
@{
    Layout = null;
}
<abp-dynamic-form abp-model="DoUuTien" data-ajaxForm="true" asp-page="/DoUuTien/CreateModal">
    <div class="modal fade show" tabindex="-1" role="dialog" aria-modal="true" style="padding-right: 17px; display: block;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <abp-modal-header title="@ViewTextConsts.DoUuTien.CreateTitle"></abp-modal-header>
                <abp-modal-body>
                    <abp-form-content />
                </abp-modal-body>
                <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
            </div>
        </div>
    </div>
</abp-dynamic-form>