@page
@inherits xdcb.HoSoCongTrinh.Web.Pages.HoSoCongTrinhPage
@model xdcb.HoSoCongTrinh.Web.Pages.HoSoCongTrinh.IndexModel
@{
}
<h1>HoSoCongTrinh</h1>
<p>A sample page for the HoSoCongTrinh module.</p>